

.settings-placeholder-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
    border: 2px dashed rgba(96, 165, 250, 0.2);
    border-radius: 1rem;
    min-height: 300px;
}
